{{define "title"}}TODO{{end}}

{{define "content"}}
<div class="header-container">
  <div class="logo-container">
    <i class="material-icons logo-icon">assignment</i>
    <span class="logo-text">TODO</span>
  </div>
</div>

<div class="search-container">
  <div class="search-form">
    <label class="search-label">Search</label>
    <form action="/" method="GET">
      <input class="search-input" type="text" name="q" value="{{.Query}}" placeholder="Search">
      <button type="submit" class="search-button">
        <i class="material-icons">search</i>
      </button>
    </form>
  </div>
</div>

<div class="button-container">
  <button class="manage-btn" onclick="window.location.href='/categories'">
    MANAGE CATEGORIES
  </button>
  
  <a href="/backlog" class="backlog-btn">
    <i class="material-icons">list_alt</i> VIEW BACKLOG
  </a>
  
  <a href="/done" class="done-btn">
    <i class="material-icons">check_circle</i> VIEW DONE
  </a>

  <a href="/add-task-page" class="done-btn" style="background-color: #FF4081;">
    <i class="material-icons">add</i> NEW TASK
  </a>
</div>

<div class="tasks-container">
  {{range .Tasks}}
  <div class="task-card">
    <div class="task-content">
      <h2 class="task-title">{{.Title}}</h2>
      <div class="task-info">
        <span class="category-badge">{{.Category}}</span>
      </div>
      <div class="task-info">{{.Description}}</div>
    </div>
    
    <div class="task-meta">
      <div class="task-date">{{.CreatedAt.Format "02 Jan 2006 15:04"}}</div>
      <div><span class="status-{{if .Status}}{{.Status}}{{else}}todo{{end}}">{{if .Status}}{{.Status}}{{else}}todo{{end}}</span></div>
    </div>
    
    <div class="task-actions">
      <form action="/update-task-status" method="POST" class="status-select-container">
        <input type="hidden" name="id" value="{{.ID}}">
        <select name="status" onchange="this.form.submit()" class="status-select">
          <option value="todo" {{if eq .Status "todo"}}selected{{end}}>Todo</option>
          <option value="doing" {{if eq .Status "doing"}}selected{{end}}>Doing</option>
          <option value="done" {{if eq .Status "done"}}selected{{end}}>Done</option>
          <option value="backlog" {{if eq .Status "backlog"}}selected{{end}}>Backlog</option>
        </select>
      </form>
      
      <form action="/delete-task" method="GET">
        <input type="hidden" name="id" value="{{.ID}}">
        <button class="delete-btn" type="submit">DELETE</button>
      </form>
    </div>
  </div>
  {{end}}
</div>
{{end}}

{{define "index"}}
  {{template "layout" .}}
{{end}}
